{{one-way-input pet.sanity update=(action callMe)}}
{{one-way-input pet.nickname class='testspace-nickname' update=(dispatch updateModel 'nickname')}}
<div class='testspace-nickname-display'>{{pet.nickname}}</div>
{{outlet}}
